@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --fg:rgb(199, 199, 199);
    --bg:#17364f;
    background-color: var(--bg);

}
header{
    z-index: 2;
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    color: var(--fg);
    align-items: center;
    background-color: transparent;
}

.logo-div{
    width: 50%; 
    height: 100%;
}

.logo{
    height: 80%;
    width: auto;
    margin-left: 1cm;
    margin-top: 0.25cm;
}

header > ul{
    width: 50%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--bg);
}

header > ul > li{
    margin-left: 1cm;
    font-family: sans-serif;
    font-weight: 600;
    margin: auto;
}

a{
    text-decoration: none;
    color: var(--fg);
}



.main-box{
    width: 100%;
    height: 100vh;
    display: flex;
}

.box{
    width: 25%;
    height: 100%;
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 220px;
}

.box2{
    background-image: url(Images/jpg/jasla1.png);
    background-size: 400%;
    background-position: center;
    background-repeat: no-repeat;
}

.box2-inner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms ease;
}

.box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box3p{
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    position: absolute;
    width: 15%;
    bottom: 4cm;
}

.contents{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.parts{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-color: var(--bg);
}

.parts1-div{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 1cm;
    margin-bottom: 1cm;
}

.box-size{
    width: 50%;
    height: 100%;
}

.right-part{

    display: flex;
    color: var(--fg);
    align-items: center;
    flex-direction: column;
    background-color: var(--bg);
    justify-content: flex-start;

}

.parts-h2{
    margin:1cm;
    font-size: 36px;
    color: var(--fg);
}

.left-div2{
    display:flex;
    color: var(--fg);
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.parts-img{
    margin-top: 1cm;
    width: 100%;
    height: auto;
}

.right-part3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.par > p{
    width: 70%;
    font-size: 24px;
    color: var(--fg);
    text-align: left;
    text-indent: 30px;
}

.left-part3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 430px) {
    :root{
        --bg: #1a1a1a;
    }
    header{
        width: 100%;
        position: absolute;
    }
    
    .logo-div{
        width: auto;
    }
    header > ul{
        width: 70%;
        background-color: transparent;
    }
    .main-box{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-image: url(images/jpg/jasla1.png);
        background-size: 400%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .box1{
        margin-top: 2cm;
    }
    .box{
        width: 100%;
        height: auto;
        background-color: transparent;
        font-size: 78px;
    }
    .box2{
        background-image: none;
    }
    .box3p{
        display: none;
    }
    .parts1-div{
        flex-direction: column;
        margin: 0;

    }
    .parts{
        width: 100%;
        height: auto;
    }
    .box-size{
        width: 100%;
    }
    .par > p{
        font-size: 14px;
        width: 90%;
    }
    .parts-h2{
        font-size: 24px;
    }
    
  }